#wrapper{
    text-align: center;
    width:800px;
    margin-left: auto;
    margin-right: auto;
}

#openweathermap-widget-11{
    margin-top: 50px;
}


#faq-container {
    text-align: center;
    background-color: #D9D9D9; /* 背景色：グレー */
    width: 500px;
    margin: 20px auto auto auto;
}


#faq-container h1 {
    font-size: 50px; /* H1タグの文字サイズ */
}

#faq-container h2 {
    color: red; /* 赤文字 */
    font-size: 25px; /* H1タグの半分の文字サイズ */
}

#faq-container p {
    font-size: 16px; /* 通常の文字サイズ */
}

#weather_comment{
    display: flex;
    flex-direction: row;
}

#comment {
    background-color: #D9D9D9; /* 背景色：グレー */
    margin-top: 30px;
}

#comment h2 {
    font-size: 25px;
    font-weight: bold; /* 太字にするための指定 */
    margin-bottom: 20px;
}

#comment p {
    margin-bottom: 20px;
}

