header {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#wrapper {
    width: 800px;
    height: auto;
    margin: auto;
    text-align: center;
}

img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto; /* 画像を中央寄せにする */
}


#wrapper h2{
    font-size: 1.2em;
    font-weight: bold;
}

#wrapper p{
    font-size: 1.1em;
    font-weight: bold;
}

/* 共通のスタイル */
header {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#wrapper {
    width: 800px;
    height: auto;
    margin: auto;
    text-align: center;
}

img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto; /* 画像を中央寄せにする */
}

/* ボタンに対する共通スタイル */
#edit_button {
    width: 120px;
    /*color: black;*/
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#delete_button{
    width: 120px;
    /*color: black;*/
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#edit_button:hover {
    background-color: #2980b9;
}

#delete_button:hover {
    background-color: #2980b9;
}

.list {
    background-color: #f5f5f5; /* 背景色を設定 */
    margin-top: 10px;
    border: 2px solid #3498db; /* ボーダーの色を設定 */
    border-radius: 10px; /* 角を丸くする */
    padding: 20px; /* 内部の余白を追加 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* ボックスシャドウを追加 */
}

.list h2 {
    font-size: 1.5em; /* タイトルのフォントサイズを大きくする */
    color: #3498db; /* タイトルの色を設定 */
    margin-bottom: 10px; /* タイトルとコンテンツの間に余白を追加 */
}

.list p {
    font-size: 1.2em; /* コンテンツのフォントサイズを調整 */
    color: #333; /* コンテンツの色を設定 */
}

/* ボタンスタイルを共通化 */
.list button {
    width: 120px;
    padding: 10px 20px;
    border: 2px solid #3498db;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* ボタン間の余白を追加 */
}

/* 850px以下の場合のスタイル変更 */
@media (max-width: 850px) {
    #wrapper {
        width: 100%; /* 画面幅いっぱいに広げる */
        padding: 0 20px; /* 左右に余白を追加 */
    }

    #wrapper h2 {
        font-size: 1.1em; /* ヘッダーのフォントサイズを調整 */
    }

    #wrapper p {
        font-size: 1em; /* 段落のフォントサイズを調整 */
    }
}
