#wrapper {
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#scroll_widget {
    overflow-x: auto; /* 横スクロールを有効にする */
    overflow-y: hidden; /* 縦スクロールを無効にする */
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.Arrow {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   width: 30px;
   height: 30px;
   background-color: rgba(0, 0, 0, 0.3);
   color: #fff;
   font-size: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.Arrow.left {
   left: 0;
}

.Arrow.right {
   right: 0;
}
    
    
#weather_widget {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weather_location {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#weather_temperature {
    font-size: 40px;
    margin-bottom: 10px;
}

#weather_description {
    font-size: 16px;
}


#faq-container {
    text-align: center;
    background-color: #D9D9D9;
    width: 500px;
    margin: 20px auto auto auto;
}

#faq-container h1 {
    font-size: 50px;
}

#faq-container h2 {
    color: red;
    font-size: 25px;
}

#faq-container p {
    font-size: 16px;
}

#weather_comment {
    /*display: flex;*/
    /*flex-direction: row;*/
    display: flex;
    flex-direction: row;
    margin:auto;
    width: 600px;
    background-color: #D9D9D9;
    align-items: center;
    justify-content: center
    
}

#comment {
    background-color: #D9D9D9;
    margin-top: 30px;
}

#weather_comment h2 {
    font-size: 25px;
    font-weight: bold;
}

#comment p {
    margin-bottom: 20px;
}

#weather_image{
        width: 200px;
        height: auto;
        /*background-color: white;*/
        
    }


.save_button {
    width: 120px;
    color: black; 
    padding: 10px 20px; /* ボタンの余白を調整 */
    border: none; /* ボーダーをなしに設定 */
    border: solid 2px black;
    border-radius: 5px; /* ボーダーの角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
}

.save_button:hover {
    background-color: #2980b9; /* ホバー時の色を設定 */
}

#input_place{
    width: 160px;
}


/* 830px以下の画面幅に対応するメディアクエリ */
@media (max-width: 830px) {
    #wrapper {
        width: 100%;
    }

    /*#faq-container {*/
    /*    width: 100%;*/
    /*    margin: 20px auto;*/
    /*}*/
    
    .content{
        display: flex;
        flex-direction: column;
    }

    #comment {
        width: 100%;
    }

    #weather_comment {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    
    #faq-container {
        width: 100%;
        height: auto
    }
    
    #scroll_widget {
        overflow-x: auto; /* 横スクロールを有効にする */
        overflow-y: hidden; /* 縦スクロールを無効にする */
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    #weather_image{
        width: 50%;
        height: auto;
    }
    
    .save_button {
        width: auto; /* フル幅に変更 */
    }
    
    
}
